.Nav {
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: absolute;
    left: 0;
    border: var(--default-border);
    background-color: var(--component-gray);
}

.pageLink {
    text-decoration: none;
    padding: 1rem;
    color: var(--medium-gray);
    font-size: 2rem;
    transition: color 0.3s ease;
    border-radius: 2rem;
}

.pageLink:hover {
    background-color: var(--dark-component-gray);

}



