*{
    font-size: calc(1vh);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-gray);
}


html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


:root{
  --text-gray: #f5f7f9;
  --border-gray: #adb5bd;
  --user-text-gray: #a8b9c7;
  --component-gray: #2F2F2F;
  --dark-component-gray: #1C1C1C;
  --base-gray: #252525;
  --default-border: 1px solid var(--border-gray);

  --selection-pink: #e271aa;
}




body {
    background-color: var(--base-gray);
}


