.userInput {
    z-index: 10;
    width: 60%;
    height: auto;
    min-height: 12rem;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    border: var(--default-border);
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;
    background-color: var(--component-gray);
}

.userKeyboard {
    padding: 2rem;
    width: 100%;
    min-height: 8rem;
    max-height: 50vh;
    background-color: transparent;
    outline: none;
    font-size: 2rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: var(--text-gray);
    resize: none;
}

.userInputIcons {
    height:4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

