.button {
  background-color: var(--component-gray);
  border: var(--default-border);
  width: 15rem;
  height: 5rem;
  position: absolute;
  right: 0;
}

p {
  font-size: 2rem;
  color: var(--text-gray);
}