.message {
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}

.markDown *{
  font-size: 2rem;
  color: var(--text-gray);
}

/* Add these styles for proper list indentation */
.markDown ul, 
.markDown ol {
  padding-left: 2.5rem;
  margin: 1rem 0;
}

.message[data-is_user="true"] {
    background-color: var(--dark-component-gray);
}

.message[data-is_user="false"] {
  background-color: var(--component-gray);
}
